<form (ngSubmit)="resetPassword()"
      [formGroup]="form">
    <h1>Reset Password</h1>
    <div class="form-group">
        <label for="currentpassword">Current password</label>
        <input formControlName="currentpassword" name="currentpassword"
               type="text" class="form-control" id="currentpassword">
        <div *ngIf="form.controls.currentpassword.errors?.required && form.controls.currentpassword.touched"
             class="alert alert-danger">
            Current password is required
        </div>
        <div *ngIf="form.controls.currentpassword.errors?.passwordInvalid"
             class="alert alert-danger">
            Current password is invalid
        </div>
        <div *ngIf="form.controls.currentpassword.pending"
             class="alert alert-warning">
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i> Checking the validity of your password
        </div>
    </div>
    <div class="form-group">
        <label for="newpassword">New password</label>
        <input formControlName="newpassword" name="newpassword"
               (keydown)="resetConfirmPassword()"
               type="text" class="form-control" id="newpassword">
        <div *ngIf="form.controls.newpassword.errors?.required && form.controls.newpassword.touched"
             class="alert alert-danger">
            New password is required
        </div>
        <div *ngIf="form.controls.newpassword.errors?.minlength && form.controls.newpassword.touched"
             class="alert alert-danger">
            Your new password is too short, we recommend {{ form.controls.newpassword.errors.minlength.requiredLength }} mininum
        </div>
    </div>
    <div class="form-group">
        <label for="newpasswordconfirm">Confirm the new password</label>
        <input formControlName="newpasswordconfirm" name="newpasswordconfirm"
               type="text" class="form-control" id="newpasswordconfirm">
        <div *ngIf="form.controls.newpasswordconfirm.errors?.required && form.controls.newpasswordconfirm.touched"
             class="alert alert-danger">
            Confirm the password
        </div>
        <div *ngIf="form.controls.newpasswordconfirm.errors?.passwordConfirmMustMatchNewPassword && form.controls.newpasswordconfirm.touched"
             class="alert alert-danger">
            The confirm password does not match your new password
        </div>
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Sign Up</button>
</form>
