<h2>Courses : {{title}}</h2>
<input type="text"
       appAutoGrow
       [ngClass]="{'active': inputActive}"
       [(ngModel)]="title">

<div (click)="onDivClick($event)">
    <button (click)="onBtnClick($event)">toggle active input</button>
    <button (click)="resetInput('title')">Clear input</button>
</div>
<ul>
    <li *ngFor="let course of courses, let i = index">({{i + 1}}) {{course.name | uppercase}} -
        <img [src]="courseImgUrl" alt="{{course.name}}">
        <app-favorite [isFavorite]="course.isFavorite"></app-favorite>
        <app-like [isLiked]="course.isLiked"
                  [count]="course.count"
                  (change)="onLike($event)">
        </app-like>
    </li>
</ul>
